{% extends 'shop/basic.html' %}

{% block title%} About {% endblock %}

{% block css %}
<style>
    .main{
    height: -webkit-fill-available;
    }
</style>
{% endblock %}
{% block alert %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Holla Welcome!</strong> YOU ARE MOST WELCOME TO YOUR OWN STORE
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

{% block body %} Let's Talk about our site here----    --------''' contact div class="card" style="width: 18rem;"><br>
    img src="..." class="card-img-top" alt="..."><br>
    div class="card-body"><br>
        h5 class="card-title">Card titleh5><br>
        p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content./p><br>
        a href="#" class="btn btn-primary">Go somewhere/a><br>
    /div><br>
/div>'''<br>
{% endblock %}
